:root{
  /* Primary Colors */
  --color-primary-lime-green: hsl(163, 72%, 41%);
  --color-primary-bright-red: hsl(356, 69%, 56%);
  --color-primary-facebook: hsl(208, 92%, 53%);
  --color-primary-twitter: hsl(203, 89%, 53%);
  --color-primary-instagram: linear-gradient(to right, hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%) 100%);

  /* linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%); */
  --color-primary-youTube: hsl(348, 97%, 39%);
  --dark-theme: linear-gradient(90deg, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 100%);
  --light-theme: hsl(230, 22%, 74%);

  /* #### Dark Theme */
  --dark-theme-bg-dark-blue: hsl(230, 17%, 14%);
  --dark-theme-bg-top-dark-blue: hsl(232, 19%, 15%);
  --dark-theme-bg-card-dark-blue: hsl(228, 28%, 20%);
  --dark-theme-color-text-blue: hsl(228, 34%, 66%);
  --dark-theme-color-text-white: hsl(0, 0%, 100%);

  /* #### Light Theme */
  --light-theme-bg-white: hsl(0, 0%, 100%);
  --light-theme-bg-top-blue: hsl(225, 100%, 98%);
  --light-theme-bg-card-grayish-blue: hsl(227, 47%, 96%);
  --light-theme-color-text-grayish-blue: hsl(228, 12%, 44%);
  --light-theme-color-text-dark-blue: hsl(230, 17%, 14%);

  /* - Font size (Overview Card Headings): 14px */
  --font-size-card-heading: 14px;

  

}

body {
  margin: 0;
  /* Default Font-Family: [Inter](https://fonts.google.com/specimen/Inter) - Weights: 400, 700 */
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}
